<!DOCTYPE html>
<html>
<head>
    <title>Add daily information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: right;
            background-color: #f4f4f4;
            padding: 20px;
            <% if (typeof weight !== 'undefined' ){ %>
                background-image: url('/weight.jpg');
              <% } else if (typeof fodder !== 'undefined' ){ %>
                background-image: url('/addFodder.jpeg');
              <% } %>
              background-size:cover;

        }

        h1 {
            text-align: center;
            color: #ffffff;
        }

        form {
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 500px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #555;
        }

        select, input[type="number"], input[type="date"], textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
            direction: rtl;
            text-align: right;
        }

        button[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
        .right-aligned {
            direction: rtl;
            text-align: right;
        }
        .input-pair {
            display: none;
        }

    </style>

</head>
<body>
  <% if (typeof weight !== 'undefined' ){ %>
    <h1 style="color: black;">إضافة وزن بقرة </h1>
  <% } else if (typeof fodder !== 'undefined' ){ %>
    <h1>إضافة كمية العلف المأكولة لبقرة </h1>
  <%}%>

    <form  <% if (typeof weight !== 'undefined' ){ %>
        action="/meat_cows/weight/add"
      <% } else if (typeof fodder !== 'undefined' ){ %>
        action="/meat_cows/fodder/add"
      <% } %> method="post">

        <% if (typeof weight !== 'undefined') { %>
          <label for="cow_id">:كود البقرة</label>
          <textarea type="text" class="right-aligned" rows="1"  name="cow_id" required></textarea><br>
          <label for="weight">:الوزن</label>
          <input type="number" class="right-aligned"  name="weight"><br>
          <label for="measurement_date" required>:تاريخ الوزن</label>
          <input type="date" class="right-aligned"  name="measurement_date" required><br>
          <br>
        <%} else if( fodder !== "undefined"){%>   
            <label for="weight_on_birth">:كود البقرة</label>
            <textarea type="text" class="right-aligned" rows="1"  name="cow_id" required></textarea><br>
            <label for="fodder_amount">:العلف المركز</label>
            <input type="number" class="right-aligned"  name="concentrated_feed" required><br>
            <label for="fodder_amount">:العلف خشن</label>
            <input type="number" class="right-aligned"  name="coarse_fodder" required><br>
            <label for="feeding_date">:تاريخ اليوم</label>
            <input type="date" class="right-aligned"  name="feeding_date" required><br>
            <br>
          <%} %>
        <button type="submit">إضافة</button>
    </form>
</body>
</html>
